# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the Amazon Corretto implementations of JREs and JDKs"
  homepage = "https://github.com/paketo-buildpacks/amazon-corretto"
  id = "paketo-buildpacks/amazon-corretto"
  keywords = ["java", "jvm", "jre", "jdk"]
  name = "Paketo Buildpack for Amazon Corretto"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/amazon-corretto/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    default = "0"
    description = "the headroom in memory calculation"
    launch = true
    name = "BPL_JVM_HEAD_ROOM"

  [[metadata.configurations]]
    default = "35% of classes"
    description = "the number of loaded classes in memory calculation"
    launch = true
    name = "BPL_JVM_LOADED_CLASS_COUNT"

  [[metadata.configurations]]
    default = "250"
    description = "the number of threads in memory calculation"
    launch = true
    name = "BPL_JVM_THREAD_COUNT"

  [[metadata.configurations]]
    default = ""
    description = "write heap dumps on error to this path"
    launch = true
    name = "BPL_HEAP_DUMP_PATH"

  [[metadata.configurations]]
    default = "true"
    description = "enables Java Native Memory Tracking (NMT)"
    launch = true
    name = "BPL_JAVA_NMT_ENABLED"

  [[metadata.configurations]]
    default = "summary"
    description = "configure level of NMT, summary or detail"
    launch = true
    name = "BPL_JAVA_NMT_LEVEL"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Management Extensions (JMX)"
    launch = true
    name = "BPL_JMX_ENABLED"

  [[metadata.configurations]]
    default = "5000"
    description = "configure the JMX port"
    launch = true
    name = "BPL_JMX_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java remote debugging support"
    launch = true
    name = "BPL_DEBUG_ENABLED"

  [[metadata.configurations]]
    default = "8000"
    description = "configure the remote debugging port"
    launch = true
    name = "BPL_DEBUG_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "configure whether to suspend execution until a debugger has attached"
    launch = true
    name = "BPL_DEBUG_SUSPEND"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Flight Recording (JFR)"
    launch = true
    name = "BPL_JFR_ENABLED"

  [[metadata.configurations]]
    default = ""
    description = "configure custom Java Flight Recording (JFR) arguments"
    launch = true
    name = "BPL_JFR_ARGS"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "enables running jlink tool to generate custom JRE"
    name = "BP_JVM_JLINK_ENABLED"

  [[metadata.configurations]]
    build = true
    default = "--no-man-pages --no-header-files --strip-debug --compress=1"
    description = "configure custom link arguments (--output must be omitted)"
    name = "BP_JVM_JLINK_ARGS"

  [[metadata.configurations]]
    build = true
    default = "21"
    description = "the Java version"
    name = "BP_JVM_VERSION"

  [[metadata.configurations]]
    build = true
    default = "JRE"
    description = "the JVM type - JDK or JRE"
    name = "BP_JVM_TYPE"

  [[metadata.configurations]]
    description = "the JVM launch flags"
    launch = true
    name = "JAVA_TOOL_OPTIONS"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:1.8.0:update472:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:1.8.0:update472:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@8.0.472?arch=amd64"
    sha256 = "f5df7b2bd46bff618b504d61acd68de7dd2f8a0e158f71bf672486d290e6b763"
    source = "https://github.com/corretto/corretto-8/archive/refs/tags/8.472.08.1.tar.gz"
    source-sha256 = "4b91d4a5c4a4757cef83baebbd2c4ed517fb49f01ea354fc96afcac08773e624"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/8.472.08.1/amazon-corretto-8.472.08.1-linux-x64.tar.gz"
    version = "8.0.472"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:11.0.29:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:11.0.29:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@11.0.29?arch=amd64"
    sha256 = "279c6d3124f8b0251b16297b16687fe8b3946410b05ed27de1259b5e5cea02ba"
    source = "https://github.com/corretto/corretto-11/archive/refs/tags/11.0.29.7.1.tar.gz"
    source-sha256 = "12038d28377fe8da9fbd0812898e3dbe177a7ccf6809c1d9cf5eebca6fe7cee3"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/11.0.29.7.1/amazon-corretto-11.0.29.7.1-linux-x64.tar.gz"
    version = "11.0.29"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.17:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:17.0.17:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@17.0.17?arch=amd64"
    sha256 = "ce991faba33be89046b03518e2c971f892a279570bc09f700b363282db1ac552"
    source = "https://github.com/corretto/corretto-17/archive/refs/tags/17.0.17.10.1.tar.gz"
    source-sha256 = "966686121c65c3124758de4c5689343ba86bb449ae7a86fa529fe09d8fde8f3c"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/17.0.17.10.1/amazon-corretto-17.0.17.10.1-linux-x64.tar.gz"
    version = "17.0.17"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.9:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:21.0.9:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@21.0.9?arch=amd64"
    sha256 = "e00963dffc5ab6bf1970b302772bafa40d0065700e13b152bf25d6e2a31c3aa5"
    source = "https://github.com/corretto/corretto-21/archive/refs/tags/21.0.9.11.1.tar.gz"
    source-sha256 = "ae3afab90797ae851dcbe314b8b694e97f96e4da9a0b06f0dd4f5cedca63b30b"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/21.0.9.11.1/amazon-corretto-21.0.9.11.1-linux-x64.tar.gz"
    version = "21.0.9"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.1:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:25.0.1:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@25.0.1?arch=amd64"
    sha256 = "8c1c0da1de121ce3570c5c84f92bf13cbc5a294a1fb0bb694dfa7e408d0af228"
    source = "https://github.com/corretto/corretto-25/archive/refs/tags/25.0.1.9.1.tar.gz"
    source-sha256 = "289f359a91e337b4e1fef46fd486f4af26812a9881b53fa7a0fa0c20c33c2f1f"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/25.0.1.9.1/amazon-corretto-25.0.1.9.1-linux-x64.tar.gz"
    version = "25.0.1"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:1.8.0:update472:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:1.8.0:update472:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@8.0.472?arch=arm64"
    sha256 = "13c732b6f7ed1d024fa896b45de74f24bb5eacd9c7ceab8f2aee69c4260325e8"
    source = "https://github.com/corretto/corretto-8/archive/refs/tags/8.472.08.1.tar.gz"
    source-sha256 = "4b91d4a5c4a4757cef83baebbd2c4ed517fb49f01ea354fc96afcac08773e624"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/8.472.08.1/amazon-corretto-8.472.08.1-linux-aarch64.tar.gz"
    version = "8.0.472"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:11.0.29:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:11.0.29:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@11.0.29?arch=arm64"
    sha256 = "941b8dfd624aea81b0e9ca3d07b44b37c5d2999af9105e35b180a853a31771c4"
    source = "https://github.com/corretto/corretto-11/archive/refs/tags/11.0.29.7.1.tar.gz"
    source-sha256 = "12038d28377fe8da9fbd0812898e3dbe177a7ccf6809c1d9cf5eebca6fe7cee3"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/11.0.29.7.1/amazon-corretto-11.0.29.7.1-linux-aarch64.tar.gz"
    version = "11.0.29"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:17.0.17:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:17.0.17:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@17.0.17?arch=arm64"
    sha256 = "31b08051e647044da8ea201744becdbc76e05b807d45e68636f765e15fd830ae"
    source = "https://github.com/corretto/corretto-17/archive/refs/tags/17.0.17.10.1.tar.gz"
    source-sha256 = "966686121c65c3124758de4c5689343ba86bb449ae7a86fa529fe09d8fde8f3c"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/17.0.17.10.1/amazon-corretto-17.0.17.10.1-linux-aarch64.tar.gz"
    version = "17.0.17"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:21.0.10:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:21.0.10:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@21.0.10?arch=arm64"
    sha256 = "f1e55ad92fcc8a9d15ea4ee3d2e395c5e649ba1b29e403be5b5580a62474bd27"
    source = "https://github.com/corretto/corretto-21/archive/refs/tags/21.0.10.7.1.tar.gz"
    source-sha256 = "31c0c14fac11bb76c156e96103091542c7c668f2f45cb268aec676721fc09a49"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/21.0.10.7.1/amazon-corretto-21.0.10.7.1-linux-aarch64.tar.gz"
    version = "21.0.10"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:oracle:jdk:25.0.1:*:*:*:*:*:*:*", "cpe:2.3:a:amazon:corretto:25.0.1:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "Corretto JDK"
    purl = "pkg:generic/amazon/corretto-jdk@25.0.1?arch=arm64"
    sha256 = "a705c0613d3ede002ed1e172d30bf6041070f9eb091515f96aed7b9832c5fc54"
    source = "https://github.com/corretto/corretto-25/archive/refs/tags/25.0.1.9.1.tar.gz"
    source-sha256 = "289f359a91e337b4e1fef46fd486f4af26812a9881b53fa7a0fa0c20c33c2f1f"
    stacks = ["*"]
    uri = "https://corretto.aws/downloads/resources/25.0.1.9.1/amazon-corretto-25.0.1.9.1-linux-aarch64.tar.gz"
    version = "25.0.1"

    [[metadata.dependencies.licenses]]
      type = "GPL-2.0 WITH Classpath-exception-2.0"
      uri = "https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
